body {
  margin-top: 35px;
  margin-bottom: 35px;
  /* background-color: #ecf9f2; */
}

h4, p {
  color: grey;
}

.col-sm-4 {
  border-style: dotted;
  border-color: gray;
}

/* #hobbit-result #galaxy-result {
  margin-bottom: 20px;
} */
